---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
     {% if post.visible %}
      <div class="post">
        <p class="post-meta">
          {% if site.date_format %}
            {{ post.date | date: site.date_format }}
          {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
          {% endif %}
        </p>
        <h3 class="h2 post-title">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            {{ post.title }}
          </a>
        </h3>
        <span class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </span>
      </div>
     {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
